footer {
    color: #bcc9ea;
    font-size: 0.9em;
    background-color: #6786d6;
    padding: 20px 10px;
    margin-top: 50px;
}

.names {
    text-align: center;
}

footer a {
    color: #bcc9ea;
    text-decoration: none;
}

footer a:hover,
footer a:focus,
footer a:active {
    color: #446cd4;
    text-decoration: underline;
    text-decoration-color: #446cd4;
}