<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" [ngClass]="{'active': router.url === '/'}">Ver</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/add']" [ngClass]="{'active': router.url === '/add'}">Añadir</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/search']" [ngClass]="{'active': router.url === '/search'}">Buscar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/edit']" [ngClass]="{'active': router.url === '/edit'}">Editar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/delete']" [ngClass]="{'active': router.url === '/delete'}">Eliminar</a>
            </li>
        </ul>
    </div>
</nav>