<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" style="padding-bottom: 0px; padding-top: 0px;" *ngIf="router.url !== '/'">
        <button type="button" class="btn btn-primary" style="padding-bottom: 0px; padding-top: 0px;" [disabled]="router.url != '/delete' && router.url != '/edit' || history.back.empty()" (click)="undo()"><i class="fas fa-arrow-circle-left"></i></button>
        <button type="button" class="btn btn-primary" style="padding-bottom: 0px; padding-top: 0px;" [disabled]="router.url != '/delete' && router.url != '/edit' || history.adv.empty()" (click)="noUndo()"><i class="fas fa-arrow-circle-right"></i></button>

    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ng-container *ngIf="router.url !== '/'; else elseLog">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/all']" [ngClass]="{'active': router.url === '/all'}">Ver</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/add']" [ngClass]="{'active': router.url === '/add'}">Añadir</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/manage']" [ngClass]="{'active': router.url === '/manage'}">Gestionar</a>
                </li>
            </ul>
        </ng-container>
        <ng-template #elseLog>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['/']" [ngClass]="{'active': router.url === '/'}">Entrar</a>
                </li>
            </ul>
        </ng-template>

    </div>

    <div *ngIf="router.url !== '/'">
        <button type="button" class="btn btn-primary" [routerLink]="['/']"><i class="fas fa-door-open"></i></button>
    </div>
</nav>