<div style="text-align: center;">

    <form [formGroup]="edit" novalidate="novalidate">
        <input type="text" id="name" class="form-control" placeholder="Nombre*" autofocus formControlName="nombre">

        <input type="text" id="price" class="form-control" placeholder="Precio*" formControlName="precio">
        <div *ngIf="edit.get('precio').dirty && edit.get('precio').errors?.pattern" class="alertForm">
            Solo caracteres numericos.
        </div>
        <input type="text" id="cod" class="form-control" placeholder="Codigo de barras*" formControlName="codigoBarras">
        <div *ngIf="edit.get('codigoBarras').dirty && edit.get('codigoBarras').errors?.pattern" class="alertForm">
            Solo caracteres numericos.
        </div>
        <input type="text" id="amnt" class="form-control" placeholder="Cantidad*" formControlName="cantidad">
        <div *ngIf="edit.get('cantidad').dirty && edit.get('cantidad').errors?.pattern" class="alertForm">
            Solo caracteres numericos.
        </div>
        <input type="date" formControlName="fecha">
    </form>
</div>